extends layout

block content

    .container-fluid
        h1.page-header Test data
        #spinner
            i.fa.fa-cog.fa-spin.fa-5x#spinner-inner
        table.table#data-table

block scripts
    script(src='/javascript/main.js')