doctype html
html(lang="es")
    head

        block title
            title= title

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        //- Custom Stylesheets
        link(rel='stylesheet', href='/stylesheets/style.css')
        
        //- Twitter Bootstrap
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')

        //- Font Awesome
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")


    body
        //- Navbar.jade has all the Navbar structure
        include navbar

        block content
        
        //- JQuery
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        
        //- Twitter Bootstrap
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')

        block scripts


